body{
    background-image: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0)), url(../images/back01.png);
    background-size: cover;
    height: 100vh;
}

.formbox {
    width: 500px;
    margin: 0 auto;
    padding: 10% 0 0;
    height: 200px;
}
.register-form, .login-form{
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    height: 250px; 
    text-align: center
}

.register-form{
        display: none;
        height: 300px; 
}
form input[type="text"] , input[type="password"]{

    width: 100%;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000
}

form input:focus{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    border-bottom: 1px solid rgba(10, 100, 150, 1);
}

form input[type = "submit"]{

    margin-top: 20px;
    font-family: "Roboto" "sans-serif";
    text-transform: uppercase;
    outline: 0;
    background: rgba(0, 159, 131, 0.6);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-weight:550 ;
    font-size: 20px;
    border-radius: 5px;


}
form input[type = "submit"]:hover , form input[type = "submit"]:focus{
    
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    background: #0a6496;
    cursor: pointer;

}

form a{
    color: rgba(0, 159, 131, 0.6);
    text-decoration: none;
}

form a:focus{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
    outline: none;
    color: #0a6496
}
